@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes l1 {
    100% {background-size:100%}
  }

  .popz {
    border-radius: 10px;
    z-index: 99999;
  }

  .popz-left{
    animation: l2 1.2s;
  }
  @keyframes l2{
    0% {transform: translateX(-250px);}
    100% {transform: translateX(0);}
  }

  .popz-right{
    animation: l3 1.2s;
  }
  @keyframes l3{
    0% {transform: translateX(250px);}
    100% {transform: translateX(0);}
  }

  .container{
    position: fixed;
    width: 40%;
  }

  @media screen and (max-width: 680px) {
    .container{
      width: 70%;
    }
  }

  .tl{
    top: 20px;
    left:10px;
  }
  .tr{
    top: 20px;
    right:10px;
  }
  .bl{
    bottom: 20px;
    left:10px;
  }
  .br{
    bottom: 20px;
    right:10px;
  }

  .withProgressBar{
    padding: 5px 2px 0.2px 2px;
  }

  .withoutProgressBar{
    padding: 6px 6px;
  }

  .contentWraper{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    column-gap: 6px;
  }
  .popzSpace{
    margin-top: 4px;
    margin-bottom: 4px;
    max-width: max-content;
    min-width: 14rem;
  }

  .icon{
    font-size: 20px;
  }

  .lightMode{
    color: rgb(32, 32, 32);
    background-color: rgb(255 255 255 / 0.8);
  }

  .darkMode{
    color: rgb(245, 245, 245);
    background-color: rgba(27, 27, 27, 0.8);
  }

  .progressBar{
    margin-top: 12px;
    border-radius: 24px;
  }